APP_NAME="DFAR INVENTORY"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=inventory-mysql
DB_PORT=3306
DB_DATABASE=inventory
DB_USERNAME=root
DB_PASSWORD=password

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_CONNECTION=default
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID="dfar_ws_srv_001"
PUSHER_APP_KEY="1hsqzmgJON6G49kHZLfdTt2Dot2Zr8qBaIsHhSMqmFIKsO3JXrDXq2AMfnBFkcJ6k1mdYv94rcGm4N+G"
PUSHER_APP_SECRET="sm0CXZpOB20SHDqigJ3Iu0eQF8"
PUSHER_APP_CLUSTER=mt1


PUSHER_APP_ID2=testapp
PUSHER_APP_KEY2=websocketkey
PUSHER_APP_SECRET2=somethingsecret
APP_NAME2="Laravel WebSockets"

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
